.right_bar_cart{
    width: 27%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    min-height: 100vh;
    background-color: #fff;
  }
  
  .cart_header{
   width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 30px;
    align-items: center;
    height: 40px;
  }
  .cart_header p{
    color: #000;
  }
 .cart_control{
   width: 337px;
   height: 124px;
   padding: 5px;
   border-radius: 8px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0px 4px 4px rgba(103, 159, 210, 0.24);
   margin-right: 5px;
   margin-top: 22px;
 }
 .cart_control p{
     font-size: 15px;
     font-family: lato;
 }

 .cart_alternate{
   display: flex;
   justify-content: space-between;
   margin-top: 15px;
 }
 .remove_btn{

      background-color: #FF8E8E;
      font-size: 12px;
      font-family: lato;
      font-weight: 700;
      width: 188px;
      height: 31px;
      margin-top:15px;
      border-radius: 5px;
      color: #fff;
      border: none;
 }
 .checkou_btn{
      background-color: #679FD2;
      color: #fff; 
      width: 337px; 
      height: 45px; 
      font-size: 12px; 
      font-weight: lato; 
      margin: 25px 0px;
      border: none;
 }

 .update_section{
   width: 100%;
   text-align: left;
   display: flex;
   margin-top: 20px;
 }
 .update_section p{
   margin-right: 55px;
   margin-left: 30px;
   font-size: 14px;
   margin-bottom: 10px;
 }

 .img_sample{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   padding: 5px;
 }


 @media screen and (max-width: 1250px){
  .cart_control{
    width: 100%;
    height: 124px;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(103, 159, 210, 0.24);
    margin-right: 5px;
    margin-top: 22px;
  }
  .remove_btn{

    background-color: #FF8E8E;
    font-size: 12px;
    font-family: lato;
    font-weight: 700;
    width: 95%;
    height: 31px;
    margin-top:5px;
    border-radius: 5px;
    color: #fff;
    border: none;
}
.checkou_btn{
  background-color: #679FD2;
  color: #fff; 
  width: 95%; 
  height: 45px; 
  font-size: 12px; 
  font-weight: lato; 
  margin: 10px 0px;
  border: none;
}
.img_sample{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
}
 }


  
  @media screen and (max-width: 968px) {
     .right_bar_cart{
      display: none;
     }
  }