.sidebar_container{
    width: 16%;
    min-height: 100vh;
}
.sidebar {
  margin-top: 0px;
  
  width: 100%;
 }
.bars{
    display: none;
  }
  
  .logo {
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 4%;
  }
  .logo > span > span {
    color: var(--pink);
  }
  
  .logo > img {
    width: 3rem;
    height: 3rem;
  }
  
  
  .menuItem {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    width: 100%;
    align-items: center;
    position: relative;
    transition: all 300ms ease;
    padding-left: 10px;
    margin-top: 10px;
  
  }
  .menuItem a{
    text-decoration: none;
    color:#838383;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 700;
    margin-right: 15px;
    position: relative;
    transition: all 0.5s ease-in;
  }
  .menuItem a:hover {
    transform: scale(1.03);
    transition: all 0.5s ease-in;
  }

  .menuItem img{

    width: 24px;
  }
  
  .menuItem:hover {
    cursor: pointer;
  }
  
  .menu .menuItem:last-child {
    position: absolute;
    bottom: 2.3rem;
    width: 100%;
  }
  
  .active {
    color: #679FD2;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
   
  }
  .active::after {
    content: "";
    width: 4px;
    height: 100%;
   margin-right: -3px;
    background: #679FD2;
  }
  .test{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
  
  }

  
  .logout{
    color: #FF4646;
    margin-top: 80px;
  }
  
  .test span{
    margin-left: 25px;
  }
  
  /* Tablets */
  @media screen and (max-width: 1200px) {
    /* .test>span{
      display: none;
    } */
    .logo{
      display: none;
    }
  }
  
  @media screen and (max-width: 968px) {
    .sidebar{
     position: fixed;
      z-index: 9;
     width: 35%;
      background-color: #fff;
      min-height: 100vh;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
      .sidebar_container{
        width: 0%;
        margin-left: -400px;
        
    }
    .menuItem {
      display: flex;
      height: 2rem;
      width: 100%;
      position: relative;
      transition: all 300ms ease;
      padding-left: 0px;
      margin-top: 0px;
    
    }
    .menuItem a{
      text-decoration: none;
      color:#838383;
      font-family: "Inter";
      font-size: 14px;
      font-weight: 700;
      position: relative;
    }
    
    
    .logo{
      display: flex;
    }
    .menu .menuItem:last-child {
      position: relative;
      margin-top: 6rem;
    }
    .bars{
      display: flex;
      position: fixed;
      top: 25px;
      left:40%;
      padding:0px;
      z-index: 100;
      cursor: pointer;
      color: #838383;
    }
    .close{
      left: -60%;
    }
  }
  .logout{
    color: #FF4646;
    margin-top: 70px;
    margin-left: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    width: 100%;
    align-items: center;
    position: relative;
    transition: all 300ms ease;
    padding-left: 10px;
  }
  
  .test span{
    margin-left: 25px;
  }
  
  
  @media screen and (max-width: 480px) {
    .sidebar_container{
      position: fixed;
       z-index: 9;
      width: 75%;
       background-color: #fff;
       min-height: 100vh;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     }
     .sidebar{
      position: fixed;
       z-index: 9;
      width: 55%;
       background-color: #fff;
       min-height: 100vh;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     }
  }
  
  
  @media screen and (max-width: 280px) {
    .sidebar{
      position: fixed;
       z-index: 9;
      width: 95%;
       background-color: #fff;
       min-height: 100vh;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     }
  }

 
