.test{
  width: 100%;
  min-height: 100vh;

}
.container {
  background: url("../../assets/Decoration.svg");
  background-repeat: no-repeat;
  object-fit: cover;
  height: 900px;
  position: relative;
}

.overlay{
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 900px;
  width: 100%;
  color: black
}