.container_fluid {
    background-color: var(--white);
    height: 350px;
    padding: 3.5rem 4rem;
  }
  .container {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    padding: 0 1.7rem;
    border-radius: 10px;
    background-color: var(--light-blue-base);
    display: grid;
    grid-template-columns: 400px auto;
    gap: 3rem;
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left img {
    width: 180px;
  }
  .notification_input input {
    outline: 0;
    border: 0;
    height: 46px;
    padding: 0 1rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 1.08rem;
    color: var(--gray-40);
  }
  .notification_input input::placeholder {
    font-size: 1.06rem;
    font-family: "Poppins", sans-serif;
  }
  .notification_input {
    width: 350px;
    display: grid;
    grid-template-columns: 250px auto;
    height: 46px;
    border: 1px solid var(--gray-60);
  }
  .notification_btn {
    height: 100%;
    outline: 0;
    border: 0;
    background-color: var(--gray-base);
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-size: 1.02rem;
    padding: 0 0.9rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  .right h1 {
    max-width: 400px;
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 600;
    padding: 2rem 0 1.5rem 0;
    line-height: 1.4;
    font-family: "Poppins", sans-serif;
  }