
.distribute_content{
    width: 100%;
    min-height: 60vh;
    padding: 20px;
}
.distribute_content h4{
    color: #000
}
.distribute_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.distribute_item p{
    color: #838383;
    font-size: 14px;
}

.select_item p{
    margin-right: 10px;
    display: inline;
}


.product_distribute{
    width: 100%;
    min-height: 75vh;
    margin-top: 10px;
}
.product_images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.distribute_image{
    position: relative;
    margin-bottom: 20px;
}
.img_distr{
    position: absolute;
    top: 10px;
    right: 10px
}

.similar_product{
    display: flex;
    justify-content: center;
    align-items: center;
}
.similar_product button{
    background-color: #679FD2;
    width: 220px;
    height: 45px;
    border-radius: 5px;
    font-size: 13px;
    color: #fff;
    font-family: inter;
    font-weight: 700;
    border: none;
    margin-top: 20px;
}



